@CHARSET "ISO-8859-1";

#livre{
	position: absolute;
	left: 200px;
}

.carte{
	position: 			absolute;
	width: 				200px;
	height: 			200px;
	font-size:			20px;
	font-weight: 		bolder;
	color:				darkgrey;
}

img{
	position: 			absolute;
}

.carte_1{
	left: 				0px;
	top:				0px;
}

.img_carte_1{
	left: 				0px;
	top:				0px;
}

.carte_2{
	left: 				0px;
	top:				200px;
}

.img_carte_2{
	left: 				0px;
	top:				200px;
}

.carte_3{
	left: 				200px;
	top:				200px;
}

.img_carte_3{
	left: 				200px;
	top:				200px;
}

.carte_4{
	left: 				400px;
	top:				200px;
}

.carte_5{
	left: 				400px;
	top:				0px;
}

.carte_6{
	left: 				600px;
	top:				200px;
}

.carte_7{
	left: 				600px;
	top:				400px;
}

.carte_8{
	left: 				600px;
	top:				600px;
}

.carte_9{
	left: 				400px;
	top:				600px;
}

.img_carte_9{
	left: 				400px;
	top:				600px;
}

.carte_10{
	left: 				200px;
	top:				600px;
}

.carte_11{
	left: 				0px;
	top:				600px;
}

.img_carte_11{
	left: 				0px;
	top:				600px;
}

.carte_12{
	left: 				0px;
	top:				800px;
}

.carte_13{
	left: 				0px;
	top:				400px;
}

.carte_14{
	left: 				200px;
	top:				400px;
	width:				400px;
}