@CHARSET "ISO-8859-1";

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
#livre{
	position: absolute;
	left: 200px;
}

.carte{
	position: 			absolute;
	width: 				200px;
	height: 			200px;
	font-size:			20px;
	font-weight: 		bolder;
	color:				darkgrey;
}

.carte_1{
	background-color: 	aqua;
	left: 				0px;
	top:				0px;
}

.carte_2{
	background-color: 	fuchsia;
	left: 				0px;
	top:				200px;
}

.carte_3{
	background-color: 	gray;
	left: 				200px;
	top:				200px;
}

.carte_4{
	background-color: 	olive;
	left: 				400px;
	top:				200px;
}

.carte_5{
	background-color: 	lime;
	left: 				400px;
	top:				0px;
}

.carte_6{
	background-color: 	maroon;
	left: 				600px;
	top:				200px;
}

.carte_7{
	background-color: 	orange;
	left: 				600px;
	top:				400px;
}

.carte_8{
	background-color: 	silver;
	left: 				600px;
	top:				600px;
}

.carte_9{
	background-color: 	red;
	left: 				400px;
	top:				600px;
}

.carte_10{
	background-color: 	yellow;
	left: 				200px;
	top:				600px;
}

.carte_11{
	background-color: 	purple;
	left: 				0px;
	top:				600px;
}

.carte_12{
	background-color: 	teal;
	left: 				0px;
	top:				800px;
}

.carte_13{
	background-color: 	lime;
	left: 				0px;
	top:				400px;
}

.carte_14{
	left: 				200px;
	top:				400px;
	width:				400px;
}