/* General */
/*   debut   */
.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

content: attr(title);

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

/* fin       */
#twintegration{
    margin: 20px 0;
}
#twintegration .formField{
    overflow: hidden;
    margin-top: 20px;
}
#twintegration .formField label{
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    width: auto;
    margin-bottom: 5px;
}

/* Exemple Latest Tweet */

#tw_status{

	color:red;
}

.tweet{
	
	/*margin-left:400px;
	margin-right:400px;*/
}

.twitter_status{
	background-image:url(../images/rsz_tweeter.png);  
   -moz-box-shadow: 0px 1px 2px #ddd;
    -webkit-box-shadow: 0px 1px 2px #DDD;
    box-shadow: 0px 1px 2px #DDD;
    padding: 19px;
    border: 1px solid #ddd;
    margin: 5px;
    float: left;
	border-radius:50%;
	/*width:32px;
	height:16px;*/
	
}

/* Some basic styles */



.userimg{
    float: left;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.userimg img{
	
    width: 25px;
    height: auto;
}
.tw_timestamp{
    float: right;
}